@import url(https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "tailwindcss";

html{ 
  scroll-behavior: smooth;
}

body {
  font-family: Inter Tight;
  background-color: var(--background-color);
  color: var(--text-color);
}


:root {
  --background-color: #0a0a0a;
  --text-color: #fff;
}

[data-theme="dark"] {
  --background-color: #0a0a0a;
  --text-color: #fff;
}

[data-theme="light"] {
  --background-color: #fff;
  --text-color: #0f0f0f;
}



